<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Template for web apps">
    <meta name="author" content="mustak">
    <title>Webpack 3.0</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
<!--b6cb65af890031a855c9d940d385e11d13e6c955x-->